Hola, {{user}},

Tu número de factura es: {{invoiceNumber}}.

Los productos comprados fueron:

<ul>
    {{#each carts}}
        <li>{{this.productModel}} - {{ this.sizeModel }} - {{this.colorModel}} {{this.quantity}}</li>
    {{/each}}
</ul>
