Hola, {{user}},

Tu número de factura es: {{invoiceNumber}}.

{{#if trackingNumber}}
<p>Número de tracking: {{ trackingNumber }}</p>
{{/if}}
<ul>
    {{#each carts}}
        <li>{{this.productModel}} - {{ this.sizeModel }} - {{this.colorModel}} {{this.quantity}}</li>
    {{/each}}
</ul>
